p {
    color:#AA0000;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: #B3995D;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family:'Courier New', Courier, monospace
    font-size: 44px;
   
}